*
            {
                margin: 0;
                padding: 0;
            }
            .bg_surname
            {
                background-color: white;
                width: 800px;
                height: 160px;
                top: 250px;
                left: 900px;
                position: absolute;
                text-align: center;
            }
            .name
            {
                width: 600px;
                height: 130px;
                top: 40px;
                left: 1000px;
                position: absolute;
                text-align: center;
                color: white;
            }
            .name span{
            font-size: 150px;
			}
			
            .about_me_nu
            {
				font-size: 0.64vw;
				position: absolute;
                top: 600px;
                left: 12%;

            }
            a
            {
                color: white;
                text-decoration: none;
            }
            .portfolio_menu
            {
				font-size: 0.64vw;
                position: absolute;
                top: 880px;
                right: 2040px;
				left: 12%;

            }
            .contacts_menu
            {
				font-size: 0.64vw;
                position: absolute;
                top: 1120px;
                right: 2040px;
				left: 12%;

            }
            .me
            {
                position: absolute;
                top: 490px;
                right: 260px;
            }
            body
            {
                background-color: black;
            }
            .picture_me
            {
                position: relative;
                left: 250px;
            }
            .txt_me
            {
                color: rgb(0, 0, 0);
                position: absolute;
                top: 500px;
                right: -400px;
                width: 100%;
            }
            .layout
            {
                margin-top: 20%;
                margin-left: 15%;
            }
            a
            {
                color: white;
                text-decoration: none;
            }
            .ps
            {
                position: absolute;
                bottom: 900px;
                left: 50px;
            }
            .portfolio
            {
                position: absolute;
                bottom: 700px;
                left: 50px;
            }
            .contacts
            {
                position: absolute;
                bottom: 500px;
                left: 50px;
            }
            body
            {
                background-color: black;
            }
            .tree
            {
                position: relative;
                top: 65px;
                left: 1300px;
            }
            .seashell
            {
                position: relative;
                top: -250px;
                left: 1900px;
            }
            .waves
            {
                position: relative;
                top: -200px;
                left: 1300px;
            }
            .desert
            {
                position: relative;
                top: -160px;
                left: 1300px;
            }
            .magazine_bw
            {
                position: relative;
                left: 1900px;
                bottom: 870px;
            }
            .layout
            {
                margin-top: 20%;
                margin-left: 15%;
            }
            .magazine_black
            {
                position: relative;
                left: 700px;
                bottom: 1570px;
            }
            .txt_portfolio
            {
                color: rgb(255, 255, 255);
                position: absolute;
                top: 50px;
                right: -100px;
                width: 100%;
            }
            a
            {
                color: white;
                text-decoration: none;
            }
            .home
            {
                position: absolute;
                top: 400px;
                left: 100px;
            }
            .about_me
            {
                position: absolute;
                top: 600px;
                left: 100px;
            }
            .contacts
            {
                position: absolute;
                top: 800px;
                left: 100px;
            }
            body
            {
                background-color: black;
            }
            a
            {
                color: rgb(255, 255, 255);
                text-decoration: none;
            }
            .inst
            {
                top: 180px;
                left: 700px;
                position: absolute;
                text-align: center;
            }
            .phone
            {
                top: 400px;
                left: -80px;
                position: absolute;
            }
            .txt_phone
            {
                top: 600px;
                left: 700px;
                position: absolute;
            }